<!DOCTYPE html>
    <head>
        <meta charset="UTF-8" />
        <title>SomosCUBA</title>
    {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'client/animated_services/css/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'client/animated/css/demo.css' %}" />
    <link rel="icon" href="{% static 'img/logo.png' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'client/animated/css/style2.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <style>
        {% load custom_filters %}

            {% for img in data.images %}
                .cb-slideshow li:nth-child({{ forloop.counter }}) span {
                    background-image: url({% static 'upload/' %}{{ img.name }});
                    {% if forloop.counter != 1 %}
                        -webkit-animation-delay: {{ forloop.counter|minus:1|product:6 }}s;
                        -moz-animation-delay: {{ forloop.counter|minus:1|product:6 }}s;
                        -o-animation-delay: {{ forloop.counter|minus:1|product:6 }}s;
                        -ms-animation-delay: {{ forloop.counter|minus:1|product:6 }}s;
                        animation-delay: {{ forloop.counter|minus:1|product:6 }}s;
                    {% endif %}
                }
                {% if forloop.counter != 1 %}
                    .cb-slideshow li:nth-child({{ forloop.counter }}) div {
                        -webkit-animation-delay: {{ forloop.counter|minus:1|product:6 }}s;
                        -moz-animation-delay: {{ forloop.counter|minus:1|product:6 }}s;
                        -o-animation-delay: {{ forloop.counter|minus:1|product:6 }}s;
                        -ms-animation-delay: {{ forloop.counter|minus:1|product:6 }}s;
                        animation-delay: {{ forloop.counter|minus:1|product:6 }}s;
                    }
                {% endif %}
            {% endfor %}
    </style>
</head>
    <body id="page">
        <a data-toggle="modal" href="{% url 'client' data.lang %}" title="{% if data.lang == 'es' %}Portada{% elif data.lang == 'en' %}Home{% elif data.lang == 'pt' %}Tela principal{% elif data.lang == 'fr' %}&Eacute;cran principal{% elif data.lang == 'de' %}Hauptbildschirm{% endif %}">
            <img src="{% static 'img/home.png' %}" alt="Home" class="home_button">
        </a>
        <a href="javascript:show_modal('comment');" id="comment" title="{% if data.lang == 'es' %}Comentario{% elif data.lang == 'en' %}Comment{% elif data.lang == 'pt' %}Coment&aacute;rio{% elif data.lang == 'fr' %}Commentaire{% elif data.lang == 'de' %}Kommentar{% endif %}">
            <img src="{% static 'img/comment.png' %}" alt="Comment" class="comment_button">
        </a>
        <a href="javascript:show_modal('suggestion');" id="suggestion" title="{% if data.lang == 'es' %}Sugerencia{% elif data.lang == 'en' %}Suggestion{% elif data.lang == 'pt' %}Sugestão{% elif data.lang == 'fr' %}Suggestion{% elif data.lang == 'de' %}Vorschlag{% endif %}">
            <img src="{% static 'img/suggestion.png' %}" alt="Suggestion" class="suggestion_button">
        </a>
        <a href="javascript:show_modal('contact');" id="contact" title="{% if data.lang == 'es' %}Informaci&oacute;n de contacto{% elif data.lang == 'en' %}Contact information{% elif data.lang == 'pt' %}Informação de contato{% elif data.lang == 'de' %}Kontaktinformationen{% elif data.lang == 'fr' %}Information de contact{% endif %}">
            <img src="{% static 'img/phone.png' %}" alt="Contact" class="phone_button">
        </a>
        <a title="Deutsch" href="/services/de{% if data.service %}/?service={{ data.service }}{% endif %}"><div class="flag-de"><img src="{% static 'img/alemania.png' %}" alt="DE"></div></a>
        <a title="Français" href="/services/fr{% if data.service %}/?service={{ data.service }}{% endif %}"><span class="flag-fr"><img src="{% static 'img/francia.png' %}" alt="FR"></span></a>
        <a title="Português" href="/services/pt{% if data.service %}/?service={{ data.service }}{% endif %}"><span class="flag-pt"><img src="{% static 'img/brasil.png' %}" alt="PT"></span></a>
        <a title="English" href="/services/en{% if data.service %}/?service={{ data.service }}{% endif %}"><span class="flag-en"><img src="{% static 'img/eeuu.png' %}" alt="EN"></span></a>
        <a title="Espa&ntilde;ol" href="/services/es{% if data.service %}/?service={{ data.service }}{% endif %}"><span class="flag-es"><img src="{% static 'img/espanna.png' %}" alt="ES"></span></a>
        <a href="http://www.facebook.com" title="Facebook" target="_blank">
            <img src="{% static 'img/facebook1.png' %}" class="facebook_button" alt="Facebook">
        </a>
        <a href="http://www.twitter.com" title="Twitter" target="_blank">
            <img src="{% static 'img/twitter1.png' %}" class="twitter_button" alt="Twitter">
        </a>
        <div id="tf_loading" class="tf_loading"></div>
            <div id="tf_bg" class="tf_bg" style="{% if not data.selected or data.images|length != 0 %}visibility: hidden;{% endif %}">
                {% if not data.selected %}
                    {% for service in data.services %}
                        {% if data.images|length != 0 %}
                            <img src="{% static 'img/1.png' %}" longdesc="{% static 'img/logotipo.png' %}"/>
                        {% else %}
                            <img src="{% static 'img/capitolo.jpg' %}" longdesc="{% static 'img/logotipo.png' %}">
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% if data.images|length != 0 %}
                        <img src="{% static 'img/1.png' %}" longdesc="{% static 'img/logotipo.png' %}"/>
                    {% else %}
                        <img src="{% static 'img/capitolo.jpg' %}" longdesc="{% static 'img/logotipo.png' %}">
                    {% endif %}
                {% endif %}
                <div class="tf_pattern"></div>
            </div>
        <ul class="cb-slideshow">
            {% for img in data.images %}
                <li><span></span><div></div></li>
            {% endfor %}
        </ul>
    <div id="tf_content_wrapper" class="tf_content_wrapper">

            {% for service in data.services %}
                <div class="tf_content" id="content{{ forloop.counter }}" {% if forloop.counter == 1 %}style="display:block;"{% endif %}>
                    <h2>
                        {% if data.lang == 'es' %}
                            {{ service.spanish_name }}
                        {% elif data.lang == 'en' %}
                            {{ service.english_name }}
                        {% elif data.lang == 'pt' %}
                            {{ service.portuguese_name }}
                        {% elif data.lang == 'fr' %}
                            {{ service.french_name }}
                        {% elif data.lang == 'de' %}
                            {{ service.german_name }}
                        {% endif %}
                    </h2>
                    <p>
                        {% if data.lang == 'es' %}
                            {{ service.spanish_description }}
                        {% elif data.lang == 'en' %}
                            {{ service.english_description }}
                        {% elif data.lang == 'pt' %}
                            {{ service.portuguese_description }}
                        {% elif data.lang == 'fr' %}
                            {{ service.french_description }}
                        {% elif data.lang == 'de' %}
                            {{ service.german_description }}
                        {% endif %}
                    </p>
                </div>
            {% endfor %}

            <div class="other_services"></div>
		</div>
        {% include 'client/services/modals.html' %}
		<div id="tf_thumbs" class="tf_thumbs">
                <img src="{% static 'img/logotipo.png' %}" width="260" height="140" alt="Thumb"/>
		</div>
        {% if not data.selected %}
            <div id="tf_next" class="tf_next"></div>
            <div id="tf_prev" class="tf_prev"></div>
        {% endif %}

{#		<!-- The JavaScript -->#}
		<script type="text/javascript" src="{% static 'client/animated_services/jquery.min.js' %}"></script>
		{% if not data.select %}
            <script type="text/javascript" src="{% static 'client/animated_services/js/jquery.flip.js' %}"></script>
		    <script type="text/javascript" src="{% static 'client/animated_services/js/jquery-mousewheel-3.0.4/jquery.mousewheel.min.js' %}"></script>
		{% endif %}
        <script type="text/javascript" src="{% static 'client/animated_services/js/efects.js' %}"></script>
		{% if not data.select %}
            <script type="text/javascript" src="{% static 'client/animated/js/modernizr.custom.86080.js' %}"></script>
        {% endif %}
        <script type="text/javascript">
            /*
            the images preload plugin
            */
            (function($) {
                $.fn.preload = function(options) {
                    var opts 	= $.extend({}, $.fn.preload.defaults, options);
                    o			= $.meta ? $.extend({}, opts, this.data()) : opts;
                    var c		= this.length,
                        l		= 0;
                    return this.each(function() {
                        var $i	= $(this);
                        $('<img/>').load(function(i){
                            ++l;
                            if(l == c) o.onComplete();
                        }).attr('src',$i.attr('src'));
                    });
                };
                $.fn.preload.defaults = {
                    onComplete	: function(){return false;}
                };
            })(jQuery);
        </script>
        <script type="text/javascript">
            $(function() {
                var $tf_bg				= $('#tf_bg'),
                    $tf_bg_images		= $tf_bg.find('img'),
                    $tf_bg_img			= $tf_bg_images.eq(0),
                    $tf_thumbs			= $('#tf_thumbs'),
                    total				= $tf_bg_images.length,
                    current				= 0,
                    $tf_content_wrapper	= $('#tf_content_wrapper'),
                    $tf_next			= $('#tf_next'),
                    $tf_prev			= $('#tf_prev'),
                    $tf_loading			= $('#tf_loading');

                //preload the images
                $tf_bg_images.preload({
                    onComplete	: function(){
                        $tf_loading.hide();
                        init();
                    }
                });

                //shows the first image and initializes events
                function init(){
                    //get dimentions for the image, based on the windows size
                    var dim	= getImageDim($tf_bg_img);
                    //set the returned values and show the image
                    $tf_bg_img.css({
                        width	: dim.width,
                        height	: dim.height,
                        left	: dim.left,
                        top		: dim.top
                    }).fadeIn();

                    //resizing the window resizes the $tf_bg_img
                $(window).bind('resize',function(){
                    var dim	= getImageDim($tf_bg_img);
                    $tf_bg_img.css({
                        width	: dim.width,
                        height	: dim.height,
                        left	: dim.left,
                        top		: dim.top
                    });
                });

                    //expand and fit the image to the screen
                    $('#tf_zoom').live('click',
                        function(){
                        if($tf_bg_img.is(':animated'))
                            return false;

                            var $this	= $(this);
                            if($this.hasClass('tf_zoom')){
                                resize($tf_bg_img);
                                $this.addClass('tf_fullscreen')
                                     .removeClass('tf_zoom');
                            }
                            else{
                                var dim	= getImageDim($tf_bg_img);
                                $tf_bg_img.animate({
                                    width	: dim.width,
                                    height	: dim.height,
                                    top		: dim.top,
                                    left	: dim.left
                                },350);
                                $this.addClass('tf_zoom')
                                     .removeClass('tf_fullscreen');
                            }
                        }
                    );

                    //click the arrow down, scrolls down
                    $tf_next.bind('click',function(){
                        if($tf_bg_img.is(':animated'))
                            return false;
                            scroll('tb');
                    });

                    //click the arrow up, scrolls up
                    $tf_prev.bind('click',function(){
                        if($tf_bg_img.is(':animated'))
                        return false;
                        scroll('bt');
                    });

                    //mousewheel events - down / up button trigger the scroll down / up
                    $(document).mousewheel(function(e, delta) {
                        if($tf_bg_img.is(':animated'))
                            return false;

                        if(delta > 0)
                            scroll('bt');
                        else
                            scroll('tb');
                        return false;
                    });

                    //key events - down / up button trigger the scroll down / up
                    $(document).keydown(function(e){
                        if($tf_bg_img.is(':animated'))
                            return false;

                        switch(e.which){
                            case 38:
                                scroll('bt');
                                break;

                            case 40:
                                scroll('tb');
                                break;
                        }
                    });
                }

                //show next / prev image
                {% if not data.selected %}
                    function scroll(dir){
                        //if dir is "tb" (top -> bottom) increment current,
                        //else if "bt" decrement it
                        current	= (dir == 'tb')?current + 1:current - 1;

                        //we want a circular slideshow,
                        //so we need to check the limits of current
                        if(current == total) current = 0;
                        else if(current < 0) current = total - 1;

                        //flip the thumb
                        $tf_thumbs.flip({
                            direction	: dir,
                            speed		: 400,

                        });

                        //we get the next image
                        var $tf_bg_img_next	= $tf_bg_images.eq(current),
                            //its dimentions
                            dim				= getImageDim($tf_bg_img_next),
                            //the top should be one that makes the image out of the viewport
                            //the image should be positioned up or down depending on the direction
                                top	= (dir == 'tb')?$(window).height() + 'px':-parseFloat(dim.height,10) + 'px';

                        //set the returned values and show the next image
                            $tf_bg_img_next.css({
                                width	: dim.width,
                                height	: dim.height,
                                left	: dim.left,
                                top		: top
                            }).show();

                        //now slide it to the viewport
                            $tf_bg_img_next.stop().animate({
                                top 	: dim.top
                            },1000);

                        //we want the old image to slide in the same direction, out of the viewport
                            var slideTo	= (dir == 'tb')?-$tf_bg_img.height() + 'px':$(window).height() + 'px';
                            $tf_bg_img.stop().animate({
                                top 	: slideTo
                            },1000,function(){
                            //hide it
                                $(this).hide();
                            //the $tf_bg_img is now the shown image
                                $tf_bg_img	= $tf_bg_img_next;
                            //show the description for the new image
                                $tf_content_wrapper.children()
                                                   .eq(current)
                                                   .show();
                    });
                        //hide the current description
                            $tf_content_wrapper.children(':visible')
                                               .hide()

                    }
                {% endif %}
                //animate the image to fit in the viewport
                function resize($img){
                    var w_w	= $(window).width(),
                        w_h	= $(window).height(),
                        i_w	= $img.width(),
                        i_h	= $img.height(),
                        r_i	= i_h / i_w,
                        new_w,new_h;

                    if(i_w > i_h){
                        new_w	= w_w;
                        new_h	= w_w * r_i;

                        if(new_h > w_h){
                            new_h	= w_h;
                            new_w	= w_h / r_i;
                        }
                    }
                    else{
                        new_h	= w_w * r_i;
                        new_w	= w_w;
                    }

                    $img.animate({
                        width	: new_w + 'px',
                        height	: new_h + 'px',
                        top		: '0px',
                        left	: '0px'
                    },350);
                }

                //get dimentions of the image,
                //in order to make it full size and centered
                function getImageDim($img){
                    var w_w	= $(window).width(),
                        w_h	= $(window).height(),
                        r_w	= w_h / w_w,
                        i_w	= $img.width(),
                        i_h	= $img.height(),
                        r_i	= i_h / i_w,
                        new_w,new_h,
                        new_left,new_top;

                    if(r_w > r_i){
                        new_h	= w_h;
                        new_w	= w_h / r_i;
                    }
                    else{
                        new_h	= w_w * r_i;
                        new_w	= w_w;
                    }


                    return {
                        width	: new_w + 'px',
                        height	: new_h + 'px',
                        left	: (w_w - new_w) / 2 + 'px',
                        top		: (w_h - new_h) / 2 + 'px'
                    };
                    }
            });
        </script>
    </body>
</html>