{#Confirmacion para eliminar#}
<div class="modal fade" id="delete{{ object.id }}" tabindex="-1" role="delete" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Confirmación</h4>
            </div>
            <div class="modal-body">
                {{ DELETE_TEXT }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                        {% if OBJECT == 'suggestion' %}onclick="window.location='{% url 'delete_suggestion' object.id %}'{% endif %}"
                        {% if OBJECT == 'comment' %}onclick="window.location='{% url 'delete_comment' object.id %}'{% endif %}"
                        {% if OBJECT == 'request' %}onclick="window.location='{% url 'delete_request' object.id %}'{% endif %}"
                        {% if OBJECT == 'gallery' %}onclick="window.location='{% url 'delete_gallery' object.id %}'{% endif %}"
                ><i class="fa fa-check"></i> Si</button>
                <button type="button" class="btn" data-dismiss="modal"><i class="fa fa-ban"></i> No</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>